<aside class="side-mini-panel with-vertical">
    <!-- ---------------------------------- -->
    <!-- Start Vertical Layout Sidebar -->
    <!-- ---------------------------------- -->
    <div class="iconbar">
        <div>
            <div class="mini-nav">
                <div class="brand-logo d-flex align-items-center justify-content-center">
                    <a href="javascript:void(0)" class="nav-link">
                        <iconify-icon icon="ic:baseline-refresh" class="fs-7"></iconify-icon>
                    </a>
                </div>
                <ul class="mini-nav-ul" data-simplebar="init">
                    <div class="simplebar-wrapper" style="margin: 0px;">
                        <div class="simplebar-height-auto-observer-wrapper">
                            <div class="simplebar-height-auto-observer"></div>
                        </div>
                        <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                    aria-label="scrollable content" style="height: 100%; overflow: hidden;">
                                    <div class="simplebar-content" style="padding: 0px;">

                                        <!-- --------------------------------------------------------------------------------------------------------- -->
                                        <!-- Dashboards -->
                                        <!-- --------------------------------------------------------------------------------------------------------- -->
                                        <li class="mini-nav-item" id="mini-1">
                                            <a href="javascript:void(0)" data-bs-toggle="tooltip"
                                                data-bs-custom-class="custom-tooltip" data-bs-placement="right"
                                                data-bs-title="Dashboards">
                                                <iconify-icon icon="solar:layers-line-duotone"
                                                    class="fs-7"></iconify-icon>
                                            </a>
                                        </li>

                                        <li>
                                            <span class="sidebar-divider lg"></span>
                                        </li>
                                        <!-- --------------------------------------------------------------------------------------------------------- -->
                                        <!-- Tables -->
                                        <!-- --------------------------------------------------------------------------------------------------------- -->
                                        <li class="mini-nav-item" id="mini-5">
                                            <a href="javascript:void(0)" data-bs-toggle="tooltip"
                                                data-bs-custom-class="custom-tooltip" data-bs-placement="right"
                                                data-bs-title="Tables">
                                                <iconify-icon icon="solar:tuning-square-2-line-duotone"
                                                    class="fs-7"></iconify-icon>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="simplebar-placeholder" style="width: 80px; height: 537px;"></div>
                    </div>
                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                    </div>
                    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                        <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
                    </div>
                </ul>

            </div>
            <div class="sidebarmenu">
                <div class="brand-logo d-flex align-items-center nav-logo">
                    <a href="{{url_for('main.index')}}" class="text-nowrap logo-img">
                        <img height="60px" src="{{url_for('static', filename='img/logo/logo-h.png')}}" alt="Logo">
                    </a>

                </div>
                <!-- ---------------------------------- -->
                <!-- Dashboard -->
                <!-- ---------------------------------- -->
                <nav class="sidebar-nav" id="menu-right-mini-1" data-simplebar="init">
                    <div class="simplebar-wrapper" style="margin: 0px -20px -24px;">
                        <div class="simplebar-height-auto-observer-wrapper">
                            <div class="simplebar-height-auto-observer"></div>
                        </div>
                        <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                    aria-label="scrollable content" style="height: auto; overflow: hidden;">
                                    <div class="simplebar-content" style="padding: 0px 20px 24px;">
                                        <ul class="sidebar-menu" id="sidebarnav">
                                            <!-- ---------------------------------- -->
                                            <!-- Home -->
                                            <!-- ---------------------------------- -->
                                            <li class="nav-small-cap">
                                                <span class="hide-menu">Dashboards</span>
                                            </li>
                                            <!-- ---------------------------------- -->
                                            <!-- Dashboard -->
                                            <!-- ---------------------------------- -->
                                            <li class="sidebar-item">
                                                <a class="sidebar-link" href="./" id="get-url" aria-expanded="false">
                                                    <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                                                    <span class="hide-menu">Dashboard 1</span>
                                                </a>
                                            </li>

                                            <li class="sidebar-item">
                                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                                    aria-expanded="false">
                                                    <iconify-icon icon="solar:home-angle-line-duotone"></iconify-icon>
                                                    <span class="hide-menu">Front Pages</span>
                                                </a>
                                                <ul aria-expanded="false" class="collapse first-level">
                                                    <li class="sidebar-item">
                                                        <a class="sidebar-link"
                                                            href="../dark/frontend-landingpage.html">
                                                            <span class="icon-small"></span>
                                                            Homepage
                                                        </a>
                                                    </li>
                                                    <li class="sidebar-item">
                                                        <a class="sidebar-link" href="../dark/frontend-aboutpage.html">
                                                            <span class="icon-small"></span>
                                                            About Us
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <span class="sidebar-divider"></span>
                                            </li>

                                            <li class="nav-small-cap">
                                                <span class="hide-menu">Apps</span>
                                            </li>

                                            <li class="sidebar-item">
                                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                                    aria-expanded="false">
                                                    <iconify-icon icon="solar:cart-3-line-duotone"></iconify-icon>
                                                    <span class="hide-menu">Ecommerce</span>
                                                </a>
                                                <ul aria-expanded="false" class="collapse first-level">
                                                    <li class="sidebar-item">
                                                        <a class="sidebar-link" href="../dark/eco-shop.html">
                                                            <span class="icon-small"></span> Shop
                                                        </a>
                                                    </li>
                                                    <li class="sidebar-item">
                                                        <a class="sidebar-link" href="../dark/eco-shop-detail.html">
                                                            <span class="icon-small"></span>Details
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="sidebar-item">
                                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                                    aria-expanded="false">
                                                    <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                                                    <span class="hide-menu">Blog</span>
                                                </a>
                                                <ul aria-expanded="false" class="collapse first-level">
                                                    <li class="sidebar-item">
                                                        <a class="sidebar-link" href="../dark/blog-posts.html">
                                                            <span class="icon-small"></span>Blog
                                                            Posts
                                                        </a>
                                                    </li>
                                                    <li class="sidebar-item">
                                                        <a class="sidebar-link" href="../dark/blog-detail.html">
                                                            <span class="icon-small"></span>Blog
                                                            Details
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="sidebar-item">
                                                <a class="sidebar-link" href="../dark/page-user-profile.html"
                                                    aria-expanded="false">
                                                    <iconify-icon icon="solar:shield-user-line-duotone"></iconify-icon>
                                                    User Profile
                                                </a>
                                            </li>
                                            <li class="sidebar-item">
                                                <a class="sidebar-link" href="../dark/app-email.html"><iconify-icon
                                                        icon="solar:letter-line-duotone"></iconify-icon>Email</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div>
                    </div>
                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                    </div>
                    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                        <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</aside>