{% extends ('layouts/base.jinja') %}
{% block page %}

<div class="body-wrapper">
    <div class="container-fluid">
        {% include ('components/credentials-list.jinja') %}
    </div>
</div>
{% endblock %}